@media (max-width: 1200px) {
    /* --- header --- */
    
    .header1 {
        max-width: 70rem;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .header2 {
        max-width: 70rem;
        flex-wrap: wrap;  
        justify-content: center;
        gap: 6rem;
    }
    
    header .logo {
        font-size: 3.5rem;
        font-weight: 600;
    }
    
    header .menu {
        gap: 2rem;
        margin-top: 1rem;
    }
    
    header .fa-solid {  /* Icons: share, sun, moon. */
        margin-top: 1rem;
    }

    /* --- home --- */
    
    .main-max-width {
        max-width: 80rem;
        margin: auto;  
    }
    
    /* .main-container {
        display: flex;
        align-items: center;
        justify-content: space-between; 
    } */
    
    .main-container .text1 {
        font-size: 2rem;
    }
    
    .main-container .text2 {
        font-size: 5rem;
    }
    
    .main-container .text3 span {
        font-size: 3rem;
    }
    
    .main-container .main-button {
        margin-top: 4rem;
        width: 14rem;
        margin-right: 2rem;
    }
    
    .main .social-media-icons {
        max-width: 80rem;
    }
    
    .main .social-media-each-icon {
        font-size: 3.5rem;  
    }

    /* --- about --- */
     
     .about-max-width {
         max-width: 80rem;
         margin: auto;
     
         /* display: flex;
         align-items: center;
         justify-content: space-around; */
         gap: 8rem;
     }
     
     .about-title {
         font-size: 3rem;
     }
     
     .about-subtitle {
         font-size: 1.5rem;
     }
     
     .about-description {
         font-size: 1.6rem;
     }

     /* --- skills --- */
    
    .skills-max-width {
        max-width: 80rem;
        margin: auto;
    }
    
    .skills-title1 {
        font-size: 3rem;
    }
    
    .skills-title2 {
        font-size: 2.5rem;
    }

    .skills .skills-technologies1 img {
        width: 70px;
        height: 70px;
    }

    .skills .skills-technologies2 img {
        width: 70px;
        height: 70px;
    }

    /* --- education --- */
    
    .education-max-width {
        max-width: 80rem;
        margin: auto;
    }
    
    .education-max-width h2 {
        font-size: 3rem;
    }
    
    .education-title2 {
        font-size: 2.5rem;
    }

    /* --- projects --- */
    
    .projects-max-width {
        max-width: 80rem;
        margin: auto;
    }
    
    .projects-max-width h2 {
        font-size: 3rem;
    }
    
    .projects .projects-cards {
        width: 36rem;
        height: 46rem; 
    }
    
    .projects .projects-cards .projects-image {
        font-size: 3.5rem;
    }
    
    .projects .projects-cards .projects-texts h2 {
        font-size: 1.8rem;
    }
    
    .projects .projects-cards .projects-texts p {
        font-size: 1.3rem;
    }
    
    .projects .projects-cards .projects-tech-used h3 {
        font-size: 1.3rem;
    }
    
    .projects .projects-cards .projects-tech-used i {
        font-size: 3.5rem;
    }
    
    .projects .projects-cards .projects-all-buttons .projects-buttons {
        width: 10rem;
        font-size: 1.4rem;
    }
    
    .projects .projects-title2 {
        font-size: 2.5rem;
    }   
    
    .projects .projects-subtitle {
        font-size: 1.8rem;
    }
    
    /* .projects .projects-other-group {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3rem;
    } */
    
    /* .projects .projects-other {
        border: 0.1rem solid #00294F;
        background-color: #F2EAE4;
        border-radius: 1rem;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),0 2px 4px -1px rgba(0, 0, 0, 0.06);
        width: 32rem;
        height: 19rem;
        text-align: center; 
    } */
    
    /* .projects .projects-other h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 1.8rem;
        color: #00294F;
        padding: 2rem;
    }
    
    .projects .projects-other p {
        font-family: 'Poppins', sans-serif;
        font-size: 1.5rem;
        color: #00294F;
    }
    
    .projects .projects-other .projects-other-techs {
        margin-bottom: 2rem;
    }
    
    .projects .projects-other .projects-other-buttons {
        background-color: #DA5826;
        color: #F2EAE4;
        padding: 1rem;
        width: 9rem;
        font-size: 1.3rem;
        font-weight: bold;
        font-family: 'Ubuntu', sans-serif;
        cursor: pointer;
        border-radius: 5rem;
        transition: color 0.2s ease;
    } */

    /* --- contacts --- */

    .contacts-max-width {
        max-width: 80rem;
        margin: auto;
    }
    
    .contacts-max-width h2 {
        font-size: 3rem;
        /* margin-bottom: 5rem; */
    }
    
    .contacts-general-container {
        justify-content: space-between;
    }
    
    .contacts-general-container i {
        font-size: 3.5rem;
    }

    .contacts-container1 ul {
        font-size: 1.5rem;
    }
    
    .contacts-container1 ul li a {
        font-size: 1.5rem;
    }

    .contacts-container2 ul {
        font-size: 1.5rem;
    }
    
    .contacts-container2 ul li a {
        font-size: 1.5rem;
    }

    /* --- footer --- */
    
    /* .footer .footer-social-media-each-icon {
        font-size: 2.5rem;  
    } */
    
    /* .footer .footer-copyright {
        font-size: 1.3rem;  
    } */
    
    .footer .footer-chevron-up {
        /* right: 2rem;
        bottom: 3rem; */
        font-size: 2.8rem;
    }
}

@media (max-width: 950px) {
    /* --- header --- */
    
    .header1 {
        max-width: 70rem;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .header2 {
        max-width: 70rem;
        flex-wrap: wrap;  
        justify-content: center;
        gap: 6rem;
    }
    
    header .logo {
        font-size: 3.5rem;
        font-weight: 600;
    }
    
    header .menu {
        gap: 2rem;
        margin-top: 1rem;
    }
    
    header .fa-solid {  /* Icons: share, sun, moon. */
        margin-top: 1rem;
    }

    /* --- home --- */
    
    .main-max-width {
        max-width: 70rem;
        margin: auto;  
    }
    
    /* .main-container {
        display: flex;
        align-items: center;
        justify-content: space-between; 
    } */
    
    .main-container .text1 {
        font-size: 1.8rem;
    }
    
    .main-container .text2 {
        font-size: 4rem;
    }
    
    .main-container .text3 span {
        font-size: 2rem;
    }
    
    .main-container .main-button {
        width: 12rem;
        font-size: 1.4rem;
    }
    
    .main .social-media-icons {
        max-width: 70rem;
    }
    
    .main .social-media-each-icon {
        font-size: 3rem;  
    }
}

@media (max-width: 900px) {

    /* --- about --- */
     
     .about-max-width {
         max-width: 60rem;
         margin: auto;
     
         /* display: flex;
         align-items: center;
         justify-content: space-around; */
         gap: 8rem;
     }

     .about .about-image { /* change, new */
        display: none; 
     }

    /* --- education --- */
    
    .education-max-width {
        max-width: 60rem;   /* change */
        margin: auto;
    }

    /* --- contacts --- */

    .contacts-max-width {
        max-width: 60rem; /* change */
        margin: auto;
    }
}

@media (max-width: 768px) {
    /* --- header --- */

    .header1 {
        max-width: 40rem;
    }
    
    .header2 {
        max-width: 40rem;
    }
    
    .header-container .menu {
        margin-top: 1.5rem;
        margin-bottom: 1rem; 
        display: inline-block; 
        text-align: center; 
    }

    .header-container .menu a { 
        padding: 0;
        margin-right: 2.5rem;  
    }

    .header-container .menu a:hover { 
        background-color: #00294F;
    }

    /* --- home --- */
    
    .main-max-width {
        max-width: 40rem;
        margin: auto;  
    }
    
    .main-container .text1 {
        text-align: center;
    }
    
    .main-container .text2 {
        text-align: center;
    }

    .main-container .text3 {
        text-align: center; 
        margin-bottom: 3rem; 
    }
    
    .main-container .text3 span {
        text-align: center;
    }
    
    .main-container .main-button {
        width: 14rem; 
        font-size: 1.6rem; 
        display: block; 
        margin: 0 auto; 
        margin-bottom: 1.5rem; 
    }

    .main .main-image {
        display: none; 
    }

    
    .main .social-media-icons {
        max-width: 40rem; 
        justify-content: center; 
    }
    
    .main .social-media-each-icon {
        margin-top: 6rem; 
    }

    /* --- about --- */
     
     .about-max-width {
         max-width: 40rem; 
         margin: auto;
         gap: 8rem;
     }

     .about .about-image { 
        display: none; 
     }

     /* --- skills --- */
    
    .skills-max-width {
        max-width: 40rem; 
        margin: auto;
    }

    .skills .skills-technologies1 img {
        width: 60px; 
        height: 60px; 
    }

    .skills .skills-technologies2 img {
        width: 60px; 
        height: 60px; 
    }

    /* --- education --- */



    /* --- projects --- */
    
    .projects-max-width {
        max-width: 40rem; 
        margin: auto;
    }

    /* --- contacts --- */

    .contacts-max-width {
        max-width: 40rem; 
        margin: auto;
    }

    /* --- footer --- */

    .footer .footer-max-width {
        max-width: 40rem; 
        margin: auto;
    }
}

@media (max-width: 500px) {
    /* --- header --- */

    .header1 {
        max-width: 20rem;
    }
    
    .header2 {
        max-width: 30rem;
    }
    
    .header-container .menu a {  
        display: none;
    }

    /* --- home --- */
    
    .main-max-width {
        max-width: 30rem;
        margin: auto;  
    }
    
    .main-container .text2 {
        font-size: 3.5rem;
    }

    /* --- about --- */
     
     .about-max-width {
         max-width: 30rem;
         margin: auto;
     }

     /* --- skills --- */
    
    .skills-max-width {
        max-width: 30rem;
        margin: auto;
    }

    .skills .skills-technologies1 img {
        width: 50px;
        height: 50px;
    }

    .skills .skills-technologies2 img {
        width: 50px;
        height: 50px;
    }

    /* --- education --- */
    


    /* --- projects --- */
    


    /* --- contacts --- */



    /* --- footer --- */



}

@media (max-width: 450px) {
    /* --- header --- */



    /* --- home --- */
    
    .main-max-width {
        max-width: 20rem;
        margin: auto;  
    }
    
    .main .social-media-each-icon {
        font-size: 2.5rem;  
    }

    /* --- about --- */
     
     .about-max-width {
         max-width: 25rem; 
         margin: auto;
     }

     /* --- skills --- */

    .skills .skills-technologies1 img {
        width: 40px;
        height: 40px;
    }

    .skills .skills-technologies2 img {
        width: 40px;
        height: 40px;
    }

    /* --- education --- */
    
    

    /* --- projects --- */
    
    .projects .projects-cards {
        width: 29rem;
        height: 49rem; 
    }
    
    .projects .projects-other {
        width: 30rem;
        height: 19rem;
    }

    .projects .projects-other h3 {
        font-size: 1.6rem;
    }
   
    /* --- contacts --- */

    .contacts-max-width {
        max-width: 25rem;
        margin: auto;
    }

    .contacts-general-container i {
        font-size: 3rem;
    }

    .contacts-container1 ul {
        font-size: 1.2rem;
    }
    
    .contacts-container1 ul li a {
        font-size: 1.2rem;
    }

    .contacts-container2 ul {
        font-size: 1.2rem;
    }
    
    .contacts-container2 ul li a {
        font-size: 1.2rem;
    }

    /* --- footer --- */

    .footer .footer-max-width {
        max-width: 25rem; 
        margin: auto;
    }
    
    .footer .footer-social-media-each-icon {
        font-size: 1.5rem; 
    } */
    
    .footer .footer-chevron-up {
        right: 2rem;
        bottom: 3rem;
        font-size: 1.3rem; 
    }
}
