* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

/* font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif; */

/* ---header--- */

.header1 {
    background-color: #00294F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.header2 {
    background-color: #00294F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    padding-bottom: 1rem;
}

header .logo {
    color: #F2EAE4;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.5rem;
    font-weight: 600;
}

header .logo span {
    color: #DA5826;
}

header .menu {
    display: flex;
    align-items: center;
    gap: 3rem;
}

header .menu a {
    color: #F2EAE4;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    /* transition: color 0.2s ease; */ /* Another possibility. */

    padding: 1rem 2rem;
    border-radius: 5rem; 
    transition: 0.2s ease;
}

header .menu a:hover {
    /* color: #DA5826; */ /* Another possibility. */
    background-color: #DA5826;
}

header .fa-solid {  /* Icons: share, sun, moon. */
    color: #F2EAE4;
    font-size: 2.2rem;
}

header .header-flags-icons {
    display: flex;
    align-items: center;
    gap: 3rem;
}

header .fa-share-nodes {
    color: #DA5826;
    transition: color 0.2s ease;
}

header .fa-share-nodes:hover {
    color: #F2EAE4;
}

/* ---home--- */

main {
    max-width: 105rem;
    margin: auto;  
    margin-top: 5rem; 
    margin-bottom: 5rem;
}

.main-container {
    color: #00294F;
    font-family: 'Ubuntu', sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.main-container .text1 {
    font-size: 3rem;
}

.main-container .text2 {
    font-size: 7rem;
    font-weight: 600;
}

.main-container .text3 span {
    color: #DA5826;
    font-size: 4rem;
    font-weight: 500;
}

.main-container .main-button {
    background-color: #00294F;
    color: #DA5826;
    padding: 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    border-radius: 5rem;
    transition: color 0.2s ease;
    
    margin-top: 4rem;
    width: 20rem;
    margin-right: 2rem;
}

.main-container .main-button:hover {
    color: #F2EAE4;
}

.main-container .main-image {
    border-radius: 20%;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);

    transition: 0.5s ease;
}

.main-container .main-image:hover {
    transform: scale(1.1);
}

main .social-media-icons {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 3rem;
    
    max-width: 105rem;
    margin: auto;
}

main .social-media-each-icon {
    color: #00294F;
    font-size: 3.5rem;  
    margin-top: 12rem;  

    transition: color 0.2s ease;
}

main .social-media-each-icon:hover {
    color: #DA5826;
    font-size: 3.5rem;  
}




